@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 d-flex justify-content-between">
        <NavLink class="navbar-brand" href="">
            <img class="img-fluid" src="/images/brand.png" alt="Fourth Coffee" />
        </NavLink>
        <NavLink class="nav-link" href="about">About</NavLink>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
